#offer {
	position:relative; left:5%;
	border-style:solid; border-width:1px; border-color:#AEAEAE;
	width:500px; height:150px;
	background-color:#EFEFEF;
}
#offer_mine {
	position:relative; left:15%;
	border-style:solid; border-width:1px; border-color:#AEAEAE;
	width:500px; height:150px;
	background-color:#EFEFEF;
}

#offer_pic{
	position:absolute;
	border-style:solid; border-width:1px;
	width:150px; height:150px;
	backgrund-color:blue;
}

#offer_content{
	position:absolute; left:150px; 
	border-style:solid; border-width:0px; border-color:#AEAEAE;
	width:350px; height:150px;
	background-color:white;
}

#offer_label {
	position:relative;
	border-style:solid; border-width:1px;border-color:#AEAEAE; border-top-width:0px;border-bottom-width:0px;
	width:349px; height:25px;
	background-color:white;
}

#offer_description {
	position:relative;
	border-style:solid; border-width:1px; border-color:#AEAEAE; border-bottom-width:0px;
	width:349px; height:100px;
	background-color:white;
}

#offer_contact
{
	position:relative; 
	border-style:solid; border-width:1px; border-color:#AEAEAE; border-bottom-width:0px;
	width:349px; height:21px;
	background-color:white;
}





#div_modif_offer
{
position:relative; left:15%;
margin-bottom:5px;
margin-top:3px;

}


#div_modif_offer input[type=submit] 
{	position:absolute;
	width:150px;
	height:30px;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	border-radius:10px;
}


#div_modif_offer input[type=submit]:hover{
background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
#div_modif_offer input[type=submit]:active{

	color: #FFFFFF;
	background: #21B24A;
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

#div_modif_picture input[type=submit] 
{	position :absolute; left:200px; top:3px;
	width:150px;
	height:30px;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	border-radius:10px;
}


#div_modif_picture input[type=submit]:hover{
background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
#div_modif_picture input[type=submit]:active{

	color: #FFFFFF;
	background: #21B24A;
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}






